allow-lan: false
external-controller: 127.0.0.1:9090
log-level: info
mixed-port: 7890
mode: rule
proxies:
- alpn:
  - h2
  - http/1.1
  name: <tag>
  password: <>
  port: <>
  server: <>
  skip-cert-verify: <>
  sni: <>
  type: trojan
 
 proxy-groups:
  -
    name: 'Claude'
    type: select
    proxies: ['tag']
  -
    name: 'OpenAI'
    type: select
    proxies: ['tag']
  -
    name: 'Gemini'
    type: select
    proxies: ['tag']
  -
    name: 'Abroad'
    type: select
    proxies: ['Select-Best']
  -
    name: 'Others'
    type: select
    proxies: ['Select-Best']
  -
    name: 'Select-Best'
    type: url-test
    url: 'http://www.gstatic.com/generate_204'
    interval: 300
    proxies: ['tag']
rules:
 - 'DOMAIN-SUFFIX,local,DIRECT'
 - 'IP-CIDR,192.168.0.0/16,DIRECT,no-resolve'
 - 'IP-CIDR,10.0.0.0/8,DIRECT,no-resolve'
 - 'IP-CIDR,172.16.0.0/12,DIRECT,no-resolve'
 - 'IP-CIDR,127.0.0.0/8,DIRECT,no-resolve'
 - 'IP-CIDR,100.64.0.0/10,DIRECT,no-resolve'
 - 'IP-CIDR6,::1/128,DIRECT,no-resolve'
 - 'IP-CIDR6,fc00::/7,DIRECT,no-resolve'
 - 'IP-CIDR6,fe80::/10,DIRECT,no-resolve'
 - 'IP-CIDR6,fd00::/8,DIRECT,no-resolve'
 - 'DOMAIN,cdn.usefathom.com,Claude'
 - 'DOMAIN-SUFFIX,anthropic.com,Claude'
 - 'DOMAIN-SUFFIX,claude.ai,Claude'
 - 'DOMAIN-SUFFIX,ai.com,OpenAI'
 - 'DOMAIN-KEYWORD,openai,OpenAI'
 - 'DOMAIN-SUFFIX,algolia.net,OpenAI'
 - 'DOMAIN-SUFFIX,api.statsig.com,OpenAI'
 - 'DOMAIN-SUFFIX,auth0.com,OpenAI'
 - 'DOMAIN-SUFFIX,challenges.cloudflare.com,OpenAI'
 - 'DOMAIN-SUFFIX,client-api.arkoselabs.com,OpenAI'
 - 'DOMAIN-SUFFIX,events.statsigapi.net,OpenAI'
 - 'DOMAIN-SUFFIX,featuregates.org,OpenAI'
 - 'DOMAIN-SUFFIX,identrust.com,OpenAI'
 - 'DOMAIN-SUFFIX,intercom.io,OpenAI'
 - 'DOMAIN-SUFFIX,intercomcdn.com,OpenAI'
 - 'DOMAIN-SUFFIX,oaistatic.com,OpenAI'
 - 'DOMAIN-SUFFIX,oaiusercontent.com,OpenAI'
 - 'DOMAIN-SUFFIX,openai.com,OpenAI'
 - 'DOMAIN-SUFFIX,openaiapi-site.azureedge.net,OpenAI'
 - 'DOMAIN-SUFFIX,sentry.io,OpenAI'
 - 'DOMAIN-SUFFIX,stripe.com,OpenAI'
 - 'DOMAIN-SUFFIX,chatgpt.com,OpenAI'
 - 'DOMAIN-SUFFIX,openai.com,OpenAI'
 - 'DOMAIN-KEYWORD,openai,OpenAI'
 - 'DOMAIN,ai.google.dev,Gemini'
 - 'DOMAIN,alkalimakersuite-pa.clients6.google.com,Gemini'
 - 'DOMAIN,makersuite.google.com,Gemini'
 - 'DOMAIN-SUFFIX,bard.google.com,Gemini'
 - 'DOMAIN-SUFFIX,deepmind.com,Gemini'
 - 'DOMAIN-SUFFIX,deepmind.google,Gemini'
 - 'DOMAIN-SUFFIX,gemini.google.com,Gemini'
 - 'DOMAIN-SUFFIX,generativeai.google,Gemini'
 - 'DOMAIN-SUFFIX,proactivebackend-pa.googleapis.com,Gemini'
 - 'DOMAIN-SUFFIX,apis.google.com,Gemini'
 - 'DOMAIN-KEYWORD,colab,Gemini'
 - 'DOMAIN-KEYWORD,developerprofiles,Gemini'
 - 'DOMAIN-KEYWORD,generativelanguage,Gemini'

